*{
  box-sizing: border-box;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin flex($display: flex, $align-items, $justify-content, $flex-direction: column){
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}


$menu-icon-line-height: 5px;
$menu-icon-line-space: 6.5px;
$menu-icon-line-offsetY: $menu-icon-line-height + $menu-icon-line-space;
$menu-icon-height: (3*$menu-icon-line-height) + (2*$menu-icon-line-space);
$cubic-bezier-in: cubic-bezier(0.30,1,0.70,1);
$cubic-bezier-out: cubic-bezier(1,0.70,1,0.30);


.app{
  @include size(28px, 28px);
  @include flex($align-items: center, $justify-content: center);
  .center{
    @include size(28px, $menu-icon-height);
    span{
      @include size(28px, $menu-icon-line-height);
      border-radius: 2px;
      background: white;
      display: block;
      z-index: 1;
      box-shadow: 1px 1px 5px black;
    }
    .spanTwo{
      margin: $menu-icon-line-space 0;
      z-index: 3;
    }
    &.active{
      .spanOne{
        animation: animationOpenOne 1s $cubic-bezier-in forwards;
      }
      .spanTwo{
        animation: animationOpenTwo 1s $cubic-bezier-in forwards;
      }
      .spanThree{
        animation: animationOpenThree 1s $cubic-bezier-in forwards;
      }
    }
    &.inactive{
      .spanOne{
        animation: animationCloseOne 1s $cubic-bezier-in forwards;
      }
      .spanTwo{
        animation: animationCloseTwo 1s $cubic-bezier-in forwards;
      }
      .spanThree{
        animation: animationCloseThree 1s $cubic-bezier-in forwards;
      }
    }
  }
}



@keyframes animationOpenOne {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }50%{
     transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(0deg);
   }100%{
      transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(45deg);
    }
}

@keyframes animationOpenTwo {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }50%{
     transform: translate3d(0, 0, 0) rotate(0deg);
   }100%{
      transform: translate3d(0, 0, 0) rotate(-45deg);
    }
}

@keyframes animationOpenThree {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }50%{
     transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(0deg);
   }100%{
      transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(45deg);
    }
}

@keyframes animationCloseOne {
  0% {
    transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(45deg);

  }50%{
     transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(0deg);
   }100%{
      transform: translate3d(0, 0, 0) rotate(0deg);
    }
}

@keyframes animationCloseTwo {
  0% {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }50%{
     transform: translate3d(0, 0, 0) rotate(0deg);
   }100%{
      transform: translate3d(0, 0, 0) rotate(0deg);
    }
}

@keyframes animationCloseThree {
  0% {
    transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(45deg);
  }50%{
     transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(0deg);
   }100%{
      transform: translate3d(0, 0, 0) rotate(0deg);
    }
}